.dark-mode {
	background-color: black;
	color: #aaaaaa;
}

.dark-mode a {
	color: royalblue;
}

.dark-mode .list-group-item {
	background-color: #212529;
	color: #aaaaaa;
}

.dark-mode .group-child {
	background-color: #3a3a3a !important;
}

.dark-mode a.list-group-item:focus,
.dark-mode a.list-group-item:hover,
.dark-mode button.list-group-item:focus,
.dark-mode button.list-group-item:hover {
	background-color: #555555;
	color: #bdc0c4;
}
