html {
	font-size: 16px;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

pre {
	margin-bottom: 1.3rem !important;
}

button.sticky {
	position: sticky;
	top: 1%;
}

img {
	max-width: -moz-available;
}
