.sticky {
	position: sticky !important;
	z-index: 1;
	top: 3%;
}

.btn {
	background-color: #f5f5f5;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	text-align: center !important;
	font-size: 18px !important;
}

.dropbtn {
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
